html(lang="zh-hant-tw")
  body
    header
      h2 Post Area 
    main.container
      div
        form
          h4 留言在此
          input#name(type="text" name="name")
          br
          br
          textarea#posts(type="text" name="text" rows="5" cols="30")
          br
          input#submit(type="button" class="function" value="送出")
          h6#demo ...

